body{
  margin: 0px;
  background-color: #5e9ff7;
}
/*importing fonts*/
h1 {
  font-weight: normal;
}

@font-face {
    font-family: "Circular";
    src: url("../fonts/CircularStd-Book.otf");
    font-weight: 300;
}
@font-face {
    font-family: "Circular";
    src: url("../fonts/CircularStd-Bold.otf");
    font-weight: 500;
}
@font-face {
    font-family: "Circular";
    src: url("../fonts/CircularStd-Black.otf");
    font-weight: 700;
}
@font-face {
    font-family: "Portrait";
    src: url("../fonts/Portrait-Regular.otf");
    font-weight: 300;
}
@font-face {
    font-family: "Portrait";
    src: url("../fonts/Portrait-Heavy.otf");
    font-weight: 900;
}
/*navigation*/
nav {
  position: fixed;
  width: 90vw;
  height: 50px;
  top: 0px;
  background-color: rgba(255,255,255,0);
  border-bottom: 1px solid rgba(255,255,255,.7);
  margin: auto;
  left: 0;
  right: 0;
}
ul {
  -webkit-padding-start: 0px;
}
ul li {
  list-style-type: none;
  color: white;
  font-family: "Circular";
  font-weight: 300;
  letter-spacing: .2em;
  text-transform: uppercase;
  display: inline;
  font-size: 14px;
}
#portfolioLink, #resumeLink {
  float: right;
  margin-left: 50px;
}
/*sections*/
#intro {
  font-family: "Circular";
  font-weight: 500;
  height: 100vw;
  width: auto;
  background-color: #ea67b0;
  color: white;
}
#hello{
  position: absolute;
  font-family: "Portrait";
  font-weight: 900;
  font-size: 14vw;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  top: 30%;
}
}
#portfolio {
  height: 100vw;
  width: auto;
  background-color: #bd4dd4;
}
#resume {
  height: 100vw;
  width: auto;
  background-color: #f8fedd;
}
font-family: 'Montserrat', sans-serif;
font-family: 'Noticia Text', serif;
