body{
  margin: 0px;
  background-color: #5e9ff7;
}
h1 {
  font-weight: normal;
}
h2{
    -webkit-margin-before: 0px;
}
a, a:active, a:visited {
  color: white;
  text-decoration: none;

}
*:focus {
    outline: none;
}
a:hover {
  color: rgba(255, 255, 255, 0.3);
  text-decoration: none;
}
@font-face {
    font-family: "Circular";
    src: url("../fonts/CircularStd-Book.otf");
    font-weight: 300;
}
@font-face {
    font-family: "Circular";
    src: url("../fonts/CircularStd-Bold.otf");
    font-weight: 500;
}
@font-face {
    font-family: "Circular";
    src: url("../fonts/CircularStd-Black.otf");
    font-weight: 700;
}
@font-face {
    font-family: "Portrait";
    src: url("../fonts/Portrait-Regular.otf");
    font-weight: 300;
}
@font-face {
    font-family: "Portrait";
    src: url("../fonts/Portrait-Heavy.otf");
    font-weight: 900;
}
nav {
  position: fixed;
  width: 90vw;
  height: 50px;
  top: 0px;
  background-color: rgba(255,255,255,0);
  border-bottom: 1px solid rgba(255,255,255,.7);
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}
ul {
  -webkit-padding-start: 0px;
  -webkit-padding-before: 1em;
}
nav ul li {
  list-style-type: none;
  color: white;
  font-family: "Circular";
  font-weight: 300;
  letter-spacing: .2em;
  text-transform: uppercase;
  display: inline;
  font-size: 14px;
}
#portfolioLink, #resumeLink {
  float: right;
  margin-left: 50px;
}
/*sections*/
#intro {
  /*position: relative;*/
  font-family: "Circular";
  font-weight: 500;
  height: 100vh;
  width: 100vw;
  color: white;
  cursor: default;
}
#backgroundPhoto {
    background-image: url(../img/Grid.png);
    height: 100vh;
    width: 100vw;
    display: table; 
}

#introContent {
    margin: auto;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
#hi{
  font-family: "Portrait";
  font-weight: 900;
  font-size: 14em;
  text-align: center;
  line-height: .8em;

}
#introContent h1 {
  /*position: relative;*/
  text-align: center;
  font-size: 3.3em;
  -webkit-margin-after: .6em;
  font-weight: normal;
}
#buyNow{
  text-transform: uppercase;
  font-family: "Circular";
  font-weight: 500;
  font-size: 2em;
  color: #bd4dd4;
  letter-spacing: .2em;
  background-color: white;
  padding: 9px 29px;
  border: none;
  text-align: center;
}

#portfolio {
  /*position: relative;*/
  font-family: "Circular";
  color: white;
  height: 100vh;
  width: 100vw;
  padding: 10vh 5vw 5vh 5vw;
  background-color: #bd4dd4;
  /*cursor: url(/img/hand2.gif), auto;*/

}
#portfolio .iconTitle {
  font-weight: 300;
  position: relative;
  text-align: center;
  color: #bd4dd4;
  top: -25px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: .05em;
}
#portfolio .projectName{
  text-transform: uppercase;
  letter-spacing: .1em;
}
#portfolio .projectDesc {
  font-family: "Portrait";
  font-size: 18px;
}
#portfolio svg {
  opacity: .6;
}
#resume {
  /*position: relative;*/
  height: 100vh;
  width: 100vw;
  background-color: #f8fedd;
  padding-top: 5vh;
  z-index: 4;
  cursor: default;

}
#resume .fp-scrollable {
  overflow: hidden;
}
#projects{
  float: left;

}

#projects p {
  text-align:center;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
#resumeGraphic p {
  -webkit-margin-before: 0;
}

.singleProject{
  position: relative;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding: 20px 50px;
}
.sectionNav{
  position: relative;
  left: 0;
  right: 0;
  margin: 59vh auto 0 auto;
  text-align: center;
}
.sectionNav h2{
  -webkit-margin-after: 0.83em;
}
.resume {
  font-family: "Circular";
  font-weight: 300;
}
.resume h5, .resume p {
  color:#bb53d1;
}
.resume ul li {
  color:#bb53d1;
}
#downloadHere{
    font-family: "Circular";
    text-align: center;
    border-bottom: 1px solid #bb53d1;
    padding-bottom: 2em;
}
.resume h5 {
  margin-bottom:0px;
  color:#b41ed5;
}
.resume ul {
  padding-top:4px;
  padding-left: 40px;
  list-style-position: outside;
  list-style-type: circle;
}
.resumeButton {
    height: 3em;
    width: 13em;
    background-color: #bb53d1;
    border: none;
    border-radius: 2em;
    color: white;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .08em;
}
#footer {
  background-color: #bb53d1;
  font-family: "Circular";
  color: white;
  text-align:center;
  width: 100vw;
  height:100px;
  display:table;
  margin-top: -30px
}
#contactMe {
    margin: auto;
    text-align: center;
    display: table;
    vertical-align: middle;

}
#contactMe h3 {

}
    
 .fp-auto-height.fp-section, .fp-auto-height .fp-slide, .fp-auto-height .fp-tableCell {
    height: 100px !important;
}
.Modal {
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  padding-top: 100px;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  -webkit-transition: 0.5s;
  overflow: auto;
  transition: all 0.3s linear;
}

.Modal-content {
  background-color: #bb53d1;
  margin: auto;
  padding: 20px;
  border-radius: 0px;
  max-width: 500px;
  height: 480px;
}

.ModalOpen { overflow: hidden; }

.is-hidden { display: none; }

.is-visuallyHidden { opacity: 0; }

.Close {
  color: #FFF;
  float: right;
  font-size: 2em;
  font-weight: 300;
}

.Close:hover, .Close:focus {
  color: #FFF;
  text-decoration: none;
  cursor: pointer;
}
.is-blurred {
  filter: blur(4px);
  -webkit-filter: blur(4px);
}
#closeModal {
  margin-top: -20px;
  font-size: 4em;
  font-weight: 300  
}
#emailForm {
  /*padding: 100px;*/
}
#emailForm input {
    border: none;
    height: 2.2em;
    width: 50%;
    background-color: #9a39af;
    color: white;
    font-weight: 300;
    margin-bottom: 10px;
    padding-left: 5px;
    letter-spacing: .03em;
    font-size: 1.1em;
}
#emailForm label {
    display: block;
    max-width: 100%;
    margin-bottom: 5px;
    letter-spacing: .03em;        
    font-weight: 200;
    letter-spacing: .06em;
    text-transform: uppercase;
}
#emailForm textarea {
    width: inherit;
    border: none;
    resize: none;
    height: 13.2em;
    background-color: #9a39af;
    color: white;
    font-weight: 300;
    padding: 5px;
    letter-spacing: .03em;
    font-size: 1.1em;
}
#emailForm textarea::placeholder {
  color:#d689e7;
}
#emailForm input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #9a39af inset;
    -webkit-text-fill-color: white !important;
}
#thankYou {
  text-align:center;
  display:table;
}
@media screen and (max-width: 900px) {
  #hi{ font-size: 12em; }
  #introContent h1 { font-size: 2.6em; }
  #buyNow {  }
}
@media screen and (max-width: 480px) {
#hi{
  font-family: "Portrait";
  font-weight: 900;
  font-size: 9em;
  text-align: center;
  line-height: .8em;

}
#introContent h1 {
  /*position: relative;*/
  text-align: center;
  font-size: 2.3em;
  -webkit-margin-after: 1.6em;
  font-weight: normal;
}
#buyNow{
  text-transform: uppercase;
  font-family: "Circular";
  font-weight: 500;
  font-size: 2em;
  color: #bd4dd4;
  letter-spacing: .2em;
  background-color: white;
  padding: 9px 29px;
  border: none;
  text-align: center;
}
}

font-family: 'Montserrat', sans-serif;
font-family: 'Noticia Text', serif;
}